Repository ESCOMP/CTSM, pull requests merged in 2019-05, with the labels that each got.

#703 Remove excess canopy liquid/snow regardless of temperature
  src/biogeophys/CanopyHydrologyMod.F90
Labels: PR status: ready

#695 Add more ndep files, fix some bugs, point to new SSP CO2 files
  Externals.cfg
  Externals_CLM.cfg
  bld/CLMBuildNamelist.pm
  bld/configure
  bld/namelist_files/namelist_defaults_clm4_5.xml
  bld/namelist_files/namelist_defaults_clm4_5_tools.xml
  bld/namelist_files/namelist_definition_clm4_0.xml
  bld/namelist_files/namelist_definition_clm4_5.xml
  bld/unit_testers/build-namelist_test.pl
  cime_config/SystemTests/lciso.py
  cime_config/buildlib
  cime_config/config_component.xml
  cime_config/config_tests.xml
  cime_config/testdefs/ExpectedTestFails.xml
  cime_config/testdefs/testlist_clm.xml
  cime_config/testdefs/testmods_dirs/clm/Fates/shell_commands
  cime_config/testdefs/testmods_dirs/clm/Fates/user_nl_clm
  cime_config/testdefs/testmods_dirs/clm/FatesAllVars/include_user_mods
  cime_config/testdefs/testmods_dirs/clm/FatesAllVars/user_nl_clm
  cime_config/testdefs/testmods_dirs/clm/FatesColdDef/include_user_mods
  cime_config/testdefs/testmods_dirs/clm/FatesColdDef/user_nl_clm
  cime_config/testdefs/testmods_dirs/clm/FatesHydro/shell_commands
  cime_config/testdefs/testmods_dirs/clm/FatesHydro/user_nl_clm
  cime_config/testdefs/testmods_dirs/clm/FatesLogging/include_user_mods
  cime_config/testdefs/testmods_dirs/clm/FatesNoFire/include_user_mods
  cime_config/testdefs/testmods_dirs/clm/FatesPPhys/include_user_mods
  cime_config/testdefs/testmods_dirs/clm/FatesST3/include_user_mods
  cime_config/testdefs/testmods_dirs/clm/FatesShortList/include_user_mods
  cime_config/testdefs/testmods_dirs/clm/FatesShortList/shell_commands
  cime_config/usermods_dirs/cmip6_nociso_deck/include_user_mods
  doc/.ChangeLog_template
  doc/ChangeSum
  doc/release-clm5.0.ChangeLog
  src/CMakeLists.txt
  src/main/clm_instMod.F90
  src/main/clm_varctl.F90
  src/main/controlMod.F90
  src/main/histFileMod.F90
  src/utils/clmfates_interfaceMod.F90
  test/tools/README.testnames
  test/tools/input_tests_master
  test/tools/nl_files/mksrfdt_5x5_amazon_hirespft_2005
  test/tools/tests_pretag_cheyenne_nompi
  tools/mkmapdata/README
  tools/mkmapdata/mkmapdata.sh
  tools/mksurfdata_map/mksurfdata.pl
  tools/ncl_scripts/getco2_historical.ncl
Labels: PR status: ready, branch tag: release, priority: high, type: enhance - science, type: enhance - software

#698 Bring the carbon isotope fix to the release branch
  bld/namelist_files/namelist_defaults_clm4_5.xml
  cime_config/testdefs/ExpectedTestFails.xml
  doc/ChangeSum
  doc/release-clm5.0.ChangeLog
  src/biogeochem/CNVegetationFacade.F90
  tools/mkmapdata/README
  tools/mkmapdata/mkmapdata.sh
  tools/mkmapdata/regriddav.sh
Labels: PR status: work in progress, branch tag: release, priority: high, severity: critical, type: bug - impacts science

#713 Fix a few issues, and update cime to a version with CO2 SSP files as well as three presaero SSP files
  Externals.cfg
  bld/namelist_files/namelist_defaults_clm4_5.xml
  bld/namelist_files/namelist_defaults_clm4_5_tools.xml
  bld/unit_testers/build-namelist_test.pl
  cime_config/config_component.xml
  cime_config/testdefs/ExpectedTestFails.xml
  cime_config/testdefs/testlist_clm.xml
  doc/.ChangeLog_template
  doc/.release-ChangeLog_template
  doc/ChangeSum
  doc/release-clm5.0.ChangeLog
  tools/ncl_scripts/getco2_historical.ncl
Labels: PR status: ready, branch tag: release, priority: high, type: enhance - software

#720 Fix a couple small issues, 2-degree no-ciso for WACCMDECK and ndep end year 2101
  Externals.cfg
  bld/namelist_files/namelist_defaults_clm4_5.xml
  bld/namelist_files/namelist_definition_clm4_5.xml
  bld/unit_testers/build-namelist_test.pl
  cime_config/config_component.xml
  cime_config/config_compsets.xml
  cime_config/testdefs/ExpectedTestFails.xml
  cime_config/testdefs/testlist_clm.xml
  cime_config/usermods_dirs/cmip6_waccm_nociso_deck/README
  cime_config/usermods_dirs/cmip6_waccm_nociso_deck/include_user_mods
  doc/.release-ChangeLog_template
  doc/ChangeSum
  doc/release-clm5.0.ChangeLog
  tools/mksurfdata_map/src/mksurfdat.F90
Labels: PR status: ready, branch tag: release, priority: high, type: bug - other

#737 Convert the file from NetCDF-4 classic format to NetCDF-3 classic format
  bld/namelist_files/namelist_defaults_clm4_5.xml
  doc/ChangeSum
  doc/release-clm5.0.ChangeLog
Labels: PR status: ready, branch tag: release, priority: high, type: bug

#740 Fates api 7.3.0
  Externals_CLM.cfg
  bld/namelist_files/namelist_defaults_clm4_5.xml
Labels: branch tag: FATES change
