Repository ESCOMP/CTSM, pull requests merged in 2020-07, with the labels that each got.

#1038 New fsufdat and landuse time series files for ne grids
  Externals.cfg
  Externals_cime.cfg
  bld/CLMBuildNamelist.pm
  bld/namelist_files/namelist_defaults_ctsm.xml
  bld/namelist_files/namelist_defaults_ctsm_tools.xml
  bld/namelist_files/namelist_defaults_overall.xml
  bld/namelist_files/namelist_definition_ctsm.xml
  bld/unit_testers/build-namelist_test.pl
  cime_config/config_pes.xml
  cime_config/testdefs/testlist_clm.xml
  cime_config/testdefs/testmods_dirs/clm/clm50cam6LndTuningMode_1979Start/include_user_mods
  cime_config/testdefs/testmods_dirs/clm/clm50cam6LndTuningMode_1979Start/shell_commands
  cime_config/testdefs/testmods_dirs/clm/clm50cam6LndTuningMode_2013Start/include_user_mods
  cime_config/testdefs/testmods_dirs/clm/clm50cam6LndTuningMode_2013Start/shell_commands
  doc/ChangeLog
  doc/ChangeSum
  tools/mksurfdata_map/Makefile.data
Labels: PR status: work in progress, priority: high, type: enhancement

#991 Extend CNFireMethodMod with a FATESFireData class
  Externals_CLM.cfg
  bld/CLMBuildNamelist.pm
  bld/namelist_files/namelist_defaults_clm4_5.xml
  bld/namelist_files/namelist_definition_clm4_5.xml
  bld/unit_testers/build-namelist_test.pl
  cime_config/testdefs/ExpectedTestFails.xml
  cime_config/testdefs/testlist_clm.xml
  cime_config/testdefs/testmods_dirs/clm/Fates/user_nl_clm
  cime_config/testdefs/testmods_dirs/clm/FatesAllVars/user_nl_clm
  cime_config/testdefs/testmods_dirs/clm/FatesColdDef/user_nl_clm
  cime_config/testdefs/testmods_dirs/clm/FatesNoFire/user_nl_clm
  cime_config/testdefs/testmods_dirs/clm/Fates_nat_and_anthro_ignitions/README
  cime_config/testdefs/testmods_dirs/clm/Fates_nat_and_anthro_ignitions/user_nl_clm
  cime_config/testdefs/testmods_dirs/clm/fatesFire/user_nl_clm
  src/biogeochem/CNFireFactoryMod.F90
  src/biogeochem/FATESFireBase.F90
  src/biogeochem/FATESFireDataMod.F90
  src/biogeochem/FATESFireNoDataMod.F90
  src/main/clm_driver.F90
  src/main/clm_initializeMod.F90
  src/main/clm_instMod.F90
  src/main/clm_varctl.F90
  src/main/controlMod.F90
  src/utils/clmfates_interfaceMod.F90
Labels: branch tag: FATES Next API, type: enhancement

#1040 CTSM changes to enable transient FATES land use
  Externals_CLM.cfg
  bld/CLMBuildNamelist.pm
  src/biogeochem/EDBGCDynMod.F90
  src/dyn_subgrid/dynHarvestMod.F90
  src/dyn_subgrid/dynSubgridControlMod.F90
  src/dyn_subgrid/dynSubgridDriverMod.F90
  src/utils/clmfates_interfaceMod.F90
Labels: branch tag: FATES Next API, tag: enh - new science, type: enhancement
