Repository ESCOMP/CTSM, pull requests merged in 2022-01, with the labels that each got.

#1581 Correct build errors in mksurfdata tools testers
  tools/mksurfdata_map/unit_testers/test_mkgridmapMod.F90
  tools/mksurfdata_map/unit_testers/test_mkindexmapMod.F90
  tools/mksurfdata_map/unit_testers/test_mksurfdata_map.F90
Labels: tag: simple bfb, PR status: ready, tag: support tools only

#1562 Uncomment fates_hdim_levleaf dimension
  Externals_CLM.cfg
  cime_config/testdefs/ExpectedTestFails.xml
  doc/ChangeLog
  doc/ChangeSum
  src/main/histFileMod.F90
Labels: FATES update requiring an API change, PR status: ready

#1598 Command-line argument design document
  doc/design/python_script_user_interface.rst
Labels: type: documentation, PR tag: no testing required
