Repository ESCOMP/CTSM, pull requests merged in 2023-09, with the labels that each got.

#2054 Allow lai streams with FATES
  Externals_CLM.cfg
  bld/CLMBuildNamelist.pm
  bld/unit_testers/build-namelist_test.pl
  cime_config/config_compsets.xml
  cime_config/testdefs/testlist_clm.xml
  cime_config/testdefs/testmods_dirs/clm/FatesColdSatPhen_prescribed/README
  cime_config/testdefs/testmods_dirs/clm/FatesColdSatPhen_prescribed/include_user_mods
  cime_config/testdefs/testmods_dirs/clm/FatesColdSatPhen_prescribed/user_nl_clm
  cime_config/testdefs/testmods_dirs/clm/datm_bias_correct_cruv7/user_nl_clm
  doc/ChangeLog
  doc/ChangeSum
  src/cpl/share_esmf/laiStreamMod.F90
  src/main/clm_driver.F90
  src/main/clm_initializeMod.F90
  src/main/clm_varcon.F90
  src/main/controlMod.F90
  src/main/surfrdUtilsMod.F90
  src/utils/clmfates_interfaceMod.F90
Labels: type: enhancement, FATES change, tag: enh - new science

#2081 Add system and unit tests for making fsurdat with all crops everywhere
  .git-blame-ignore-revs
  cime_config/SystemTests/rxcropmaturity.py
  cime_config/testdefs/testlist_clm.xml
  python/ctsm/crop_calendars/make_fsurdat_all_crops_everywhere.py
  python/ctsm/modify_input_files/fsurdat_modifier.py
  python/ctsm/modify_input_files/modify_fsurdat.py
  python/ctsm/site_and_regional/single_point_case.py
  python/ctsm/subset_data.py
  python/ctsm/test/test_sys_fsurdat_modifier.py
  python/ctsm/test/test_unit_fsurdat_modifier.py
  python/ctsm/test/test_unit_singlept_data.py
  python/ctsm/test/test_unit_singlept_data_surfdata.py
  python/ctsm/test/testinputs/modify_fsurdat_1x1mexicocity.cfg
  python/ctsm/test/testinputs/modify_fsurdat_opt_sections.cfg
  python/ctsm/test/testinputs/modify_fsurdat_short.cfg
  tools/mksurfdata_map/modify_1x1_mexicocityMEX.cfg
  tools/mksurfdata_map/modify_1x1_urbanc_alpha.cfg
  tools/mksurfdata_map/modify_1x1_vancouverCAN.cfg
  tools/modify_input_files/modify_fsurdat_template.cfg
Labels: tag: simple bfb, type: tests, PR status: ready

#2091 Fixes to methane Tech Note
  doc/source/tech_note/Methane/CLM50_Tech_Note_Methane.rst
Labels: tag: simple bfb, type: documentation, PR status: ready

#2108 Improve robustness of run_python_script()
  cime_config/SystemTests/systemtest_utils.py
Labels: tag: simple bfb, type: tests

#2125 Avoid using subprocess.run() in FSURDATMODIFYCTSM
  .git-blame-ignore-revs
  cime_config/SystemTests/fsurdatmodifyctsm.py
  cime_config/SystemTests/systemtest_utils.py
  python/ctsm/crop_calendars/cropcal_module.py
  python/ctsm/crop_calendars/generate_gdds.py
  python/ctsm/crop_calendars/generate_gdds_functions.py
  python/ctsm/run_sys_tests.py
Labels: type: code cleanup, tag: simple bfb, type: bug, type: tests

#2158 Add is_doy_in_interval() function
  src/biogeochem/CNPhenologyMod.F90
  src/utils/clm_time_manager.F90
  src/utils/test/clm_time_manager_test/test_clm_time_manager.pf
Labels: type: code cleanup, tag: simple bfb
