Repository ESCOMP/CTSM, pull requests merged in 2025-06, with the labels that each got.

#3195 Fix typo in Chapter 5 of technical note
  doc/source/tech_note/Fluxes/CLM50_Tech_Note_Fluxes.rst
Labels: documentation, bfb, PR status: awaiting review, size: small, docs:minor-content-fix

#3222 Add docs workflow to release-clm5.0 branch
  .github/workflows/docs-common.yml
  .github/workflows/docs.yml
  Externals.cfg
  doc/build_docs
  doc/build_docs_to_publish
  doc/source/tech_note/Soil_Snow_Temperatures/CLM50_Tech_Note_Soil_Snow_Temperatures.rst
  doc/version_list.py
Labels: next, bfb, devops, docs:infrastructure, docs-loc:infrastructure

#3211 ctsm5.3.055: Remove broken FTorch submodule
  .github/workflows/docs-omnibus.yml
  .github/workflows/fleximod_test.yaml
  .gitmodules
  doc/ChangeLog
  doc/ChangeSum
  doc/testing.sh
Labels: bug, test: none, bfb, devops, docs:infrastructure, docs-loc:infrastructure

#3230 Tech Note: Fix sub/superscript asterisks in equations
  doc/source/tech_note/Dust/CLM50_Tech_Note_Dust.rst
  doc/source/tech_note/Ecosystem/CLM50_Tech_Note_Ecosystem.rst
  doc/source/tech_note/Fluxes/CLM50_Tech_Note_Fluxes.rst
  doc/source/tech_note/Lake/CLM50_Tech_Note_Lake.rst
  doc/source/tech_note/Photosynthesis/CLM50_Tech_Note_Photosynthesis.rst
Labels: documentation, bfb, PR status: awaiting review, size: small, docs:minor-tech-fix, docs-loc:tech-note

#3194 Updates to run_tower/single point documentation
  doc/source/users_guide/overview/introduction.rst
  doc/source/users_guide/running-single-points/generic-single-point-regional.rst
  doc/source/users_guide/running-single-points/index.rst
  doc/source/users_guide/running-single-points/intro-to-single-pt-regional.rst
  doc/source/users_guide/running-single-points/predefined-single-point-regional-resolutions.rst
  doc/source/users_guide/running-single-points/running-single-point-configurations.rst
  doc/source/users_guide/running-single-points/single-point-and-regional-grid-configurations.rst
  doc/source/users_guide/running-single-points/supported-tower-sites.rst
  doc/source/users_guide/setting-up-and-running-a-case/customizing-the-clm-configuration.rst
  doc/source/users_guide/using-clm-tools/observational-sites-datasets.rst
Labels: documentation, bfb, docs:update, docs-loc:users-guide

#3242 Merge b4bdev 20250609
  doc/ChangeLog
  doc/ChangeSum
  doc/source/tech_note/Fluxes/CLM50_Tech_Note_Fluxes.rst
  doc/source/tech_note/Snow_Hydrology/CLM50_Tech_Note_Snow_Hydrology.rst
  doc/source/users_guide/overview/introduction.rst
  doc/source/users_guide/running-single-points/generic-single-point-regional.rst
  doc/source/users_guide/running-single-points/index.rst
  doc/source/users_guide/running-single-points/intro-to-single-pt-regional.rst
  doc/source/users_guide/running-single-points/predefined-single-point-regional-resolutions.rst
  doc/source/users_guide/running-single-points/running-single-point-configurations.rst
  doc/source/users_guide/running-single-points/single-point-and-regional-grid-configurations.rst
  doc/source/users_guide/running-single-points/supported-tower-sites.rst
  doc/source/users_guide/setting-up-and-running-a-case/customizing-the-clm-configuration.rst
  doc/source/users_guide/using-clm-tools/observational-sites-datasets.rst
  doc/source/users_guide/working-with-documentation/building-docs-multiple-versions.rst
  tools/mksurfdata_esmf/gen_mksurfdata_namelist.xml
Labels: bfb

#3243 ctsm5.3.057: Fix PEM test for FATES testmod that builds an on-the-fly parameter file
  cime_config/testdefs/ExpectedTestFails.xml
  cime_config/testdefs/testlist_clm.xml
  cime_config/testdefs/testmods_dirs/clm/FatesColdSeedDisp/shell_commands
  cime_config/testdefs/testmods_dirs/clm/FatesColdSeedDisp/user_nl_clm
  doc/ChangeLog
  doc/ChangeSum
Labels: next, test: aux_clm, test: fates

#2844 branch with 5.3.05Y: Make sure FORTRAN code properly aborts when fire-emission is asked for and it can't be provided
  bld/CLMBuildNamelist.pm
  bld/unit_testers/build-namelist_test.pl
  cime_config/config_component.xml
  cime_config/testdefs/testlist_clm.xml
  cime_config/testdefs/testmods_dirs/clm/ExcessIceStreams/include_user_mods
  cime_config/testdefs/testmods_dirs/clm/SNICARFRC/include_user_mods
  cime_config/testdefs/testmods_dirs/clm/collapse_pfts_78_to_16_decStart_f10/include_user_mods
  cime_config/testdefs/testmods_dirs/clm/o3lombardozzi2015/include_user_mods
  cime_config/testdefs/testmods_dirs/clm/pauseResume/include_user_mods
  cime_config/testdefs/testmods_dirs/clm/prescribed/include_user_mods
  cime_config/testdefs/testmods_dirs/clm/pts/include_user_mods
  cime_config/testdefs/testmods_dirs/clm/waccmx_offline/include_user_mods
  src/CMakeLists.txt
  src/biogeochem/CMakeLists.txt
  src/biogeochem/CNDriverMod.F90
  src/biogeochem/CNFireBaseMod.F90
  src/biogeochem/CNFireFactoryMod.F90
  src/biogeochem/CNFireNoFireMod.F90
  src/biogeochem/CNVegetationFacade.F90
  src/biogeochem/FATESFireFactoryMod.F90
  src/biogeochem/FATESFireNoDataMod.F90
  src/biogeochem/SatellitePhenologyMod.F90
  src/biogeochem/test/CMakeLists.txt
  src/biogeochem/test/CNFireFactory_test/CMakeLists.txt
  src/biogeochem/test/CNFireFactory_test/test_CNFireFactory.pf
  src/biogeochem/test/FATESFireFactory_test/CMakeLists.txt
  src/biogeochem/test/FATESFireFactory_test/test_FATESFireFactory.pf
  src/cpl/share_esmf/FireDataBaseType.F90
  src/main/CMakeLists.txt
  src/main/FireMethodType.F90
  src/soilbiogeochem/CMakeLists.txt
  src/unit_test_stubs/main/ncdio_pio_fake.F90.in
  src/unit_test_stubs/share_esmf/CMakeLists.txt
  src/unit_test_stubs/share_esmf/FireDataBaseType.F90
  src/unit_test_stubs/share_esmf/laiStreamMod.F90
  src/utils/clmfates_interfaceMod.F90
Labels: enhancement, code health, bfb, usability

#3272 Throw error if reseed_dead_plants = .true. in a branch simulation
  bld/CLMBuildNamelist.pm
  bld/unit_testers/build-namelist_test.pl
Labels: bfb

#3231 Clean up docs workflows
  .github/workflows/docker-image-build.yml
  .github/workflows/docker-image-common.yml
  .github/workflows/docs-build-and-deploy.yml
  .github/workflows/docs-common.yml
  .github/workflows/docs-omnibus.yml
  .github/workflows/docs-update-ctsm_pylib.yml
  .github/workflows/docs-update-dependency-common.yml
  .github/workflows/docs-update-doc-builder.yml
  .github/workflows/docs.yml
  doc/ctsm-docs_container/Dockerfile
  doc/source/users_guide/working-with-documentation/building-docs-multiple-versions.rst
  doc/test/compose_test_cmd.sh
  doc/test/test_build_docs_-b.sh
  doc/test/test_build_docs_-r-v.sh
  doc/test/test_container_eq_ctsm_pylib.sh
  doc/test/test_doc-builder_tests.sh
  doc/test/test_makefile_method.sh
  doc/test/testing.sh
  doc/testing.sh
Labels: documentation, bfb, devops, docs:infrastructure, docs-loc:infrastructure

#3238 Add GitHub workflow for Python unit tests
  .github/workflows/python-tests.yml
  cime_config/SystemTests/sspmatrixcn.py
  python/ctsm/subset_data.py
  python/ctsm/test/test_sys_gen_mksurfdata_jobscript_single_derecho.py
  python/ctsm/test/test_unit_gen_mksurfdata_jobscript_single.py
  python/ctsm/test/test_unit_sspmatrix.py
  python/ctsm/test/test_unit_subset_data.py
  python/ctsm/test_gen_mksurfdata_jobscript_single_parent.py
  python/ctsm/unit_testing.py
Labels: testing, bfb, PR status: awaiting review, test: python, devops
