Repository ESCOMP/CTSM, pull requests merged in 2025-09, with the labels that each got.

#3470 Add fortls to ctsm_pylib, add a .vscode directory and a couple settings
  .gitignore
  .vscode/README.md
  .vscode/settings_template.json
  README
  python/conda_env_ctsm_py.yml
Labels: enhancement, bfb, size: small, devops

#3460 ctsm5.3.074: Update ctsm6 default paramfile and IC files
  bld/CLMBuildNamelist.pm
  bld/namelist_files/namelist_defaults_ctsm.xml
  bld/unit_testers/build-namelist_test.pl
  doc/ChangeLog
  doc/ChangeSum
Labels: non-bfb, test: aux_clm

#3204 Fire update May 2025
  bld/namelist_files/namelist_defaults_ctsm.xml
  cime_config/testdefs/ExpectedTestFails.xml
  src/biogeochem/CNFireLi2024Mod.F90
Labels: enhancement, science, test: aux_clm

#3511 Decompinit timer updates
  src/cpl/nuopc/lnd_comp_nuopc.F90
  src/cpl/share_esmf/lnd_set_decomp_and_domain.F90
  src/main/clm_initializeMod.F90
  src/main/decompInitMod.F90
  src/main/decompMod.F90
Labels: code health, bfb
