Repository ESCOMP/CTSM, pull requests merged in 2025-02, with the labels that each got.

#2921 Handle same file error
  .git-blame-ignore-revs
  cime_config/SystemTests/ssp.py
  cime_config/SystemTests/sspmatrixcn.py
  parse_cime.cs.status
  python/ctsm/path_utils.py
  python/ctsm/test/test_unit_sspmatrix.py
Labels: enhancement, bfb

#2898 change the order of passing the "use_fates_luh" flag
  src/utils/clmfates_interfaceMod.F90
Labels: FATES, blocker, bfb

#2936 Update `FatesColdAllVars` test history list names
  cime_config/testdefs/testmods_dirs/clm/FatesColdAllVars/user_nl_clm
Labels: FATES, testing

#2927 Reduce log noise
  src/init_interp/initInterp.F90
  src/soilbiogeochem/CNSoilMatrixMod.F90
  src/utils/clmfates_interfaceMod.F90
Labels: enhancement, bfb, PR status: needs testing, test: aux_clm

#2758 clm5.3.024: Change the choice of pressure in CLMU building energy model (BEM)
  doc/ChangeLog
  doc/ChangeSum
  src/biogeophys/SoilTemperatureMod.F90
  src/biogeophys/UrbBuildTempOleson2015Mod.F90
Labels: bug, test: aux_clm

#2963 run_tower fixes and improvements
  .git-blame-ignore-revs
  python/ctsm/site_and_regional/neon_site.py
  python/ctsm/site_and_regional/plumber_site.py
  python/ctsm/site_and_regional/run_tower.py
  python/ctsm/site_and_regional/tower_arg_parse.py
  python/ctsm/site_and_regional/tower_site.py
  python/ctsm/test/test_sys_run_tower.py
Labels: enhancement, bug, bfb, test: python

#2969 Simplify tower types
  python/ctsm/site_and_regional/neon_site.py
  python/ctsm/site_and_regional/plumber_site.py
  python/ctsm/site_and_regional/run_tower.py
  python/ctsm/site_and_regional/tower_site.py
  python/ctsm/test/test_sys_run_tower.py
Labels: code health, bfb, PR status: awaiting review, test: python

#2971 Merge b4bdev 20250220
  .git-blame-ignore-revs
  doc/ChangeLog
  doc/ChangeSum
  python/ctsm/site_and_regional/neon_site.py
  python/ctsm/site_and_regional/plumber_site.py
  python/ctsm/site_and_regional/run_tower.py
  python/ctsm/site_and_regional/tower_arg_parse.py
  python/ctsm/site_and_regional/tower_site.py
  python/ctsm/test/test_sys_run_tower.py
  src/init_interp/initInterp.F90
  src/soilbiogeochem/CNSoilMatrixMod.F90
  src/utils/clmfates_interfaceMod.F90
Labels: bfb
