Repository ESCOMP/CTSM, pull requests merged in 2025-04, with the labels that each got.

#3022 ctsm5.3.036: Update `FatesColdLUH2` testmod history output
  cime_config/testdefs/ExpectedTestFails.xml
  cime_config/testdefs/testmods_dirs/clm/FatesColdLUH2/user_nl_clm
  doc/ChangeLog
  doc/ChangeSum
Labels: test: aux_clm, test: fates

#3021 ctsm5.3.037: Add calculations for GSSUN and GSSHA at night in both subroutine Photosynthesis and PhotosynthesisHydraulicStress
  doc/ChangeLog
  doc/ChangeSum
  src/biogeophys/PhotosynthesisMod.F90
Labels: bug, PR status: needs testing, test: aux_clm

#2737 mksurfdata_esmf: Refactor mksoiltex
  .gitignore
  python/ctsm/toolchain/gen_mksurfdata_jobscript_single.py
  tools/mksurfdata_esmf/Makefile
  tools/mksurfdata_esmf/src/mksoiltexMod.F90
Labels: code health, blocker, bfb, PR status: needs testing, test: mksurfdata

#3059 ctsm5.3.038: Merge b4b-dev into master
  .gitignore
  doc/ChangeLog
  doc/ChangeSum
  python/ctsm/toolchain/gen_mksurfdata_jobscript_single.py
  tools/mksurfdata_esmf/Makefile
  tools/mksurfdata_esmf/src/mksoiltexMod.F90
Labels: blocker

#2952 ctsm5.3.039: Create driver data structure for SP mode
  doc/ChangeLog
  doc/ChangeSum
  src/biogeochem/SatellitePhenologyMod.F90
  src/biogeophys/CanopyStateType.F90
  src/cpl/share_esmf/laiStreamMod.F90
  src/main/clm_driver.F90
  src/main/clm_initializeMod.F90
  src/utils/clmfates_interfaceMod.F90
Labels: enhancement, test: aux_clm, test: fates

#3042 b4b-dev: Allow file paths with length 512
  bld/namelist_files/namelist_definition_ctsm.xml
  cime_config/testdefs/testmods_dirs/clm/FatesColdSeedDisp/shell_commands
  cime_config/testdefs/testmods_dirs/clm/FatesColdSeedDisp/user_nl_clm
  src/biogeochem/CNFireBaseMod.F90
  src/biogeochem/CNFireFactoryMod.F90
  src/biogeochem/CNFireLi2014Mod.F90
  src/biogeochem/CNFireLi2016Mod.F90
  src/biogeochem/CNFireLi2021Mod.F90
  src/biogeochem/CNFireLi2024Mod.F90
  src/biogeochem/CNFireNoFireMod.F90
  src/biogeochem/DustEmisFactory.F90
  src/biogeochem/FATESFireDataMod.F90
  src/biogeochem/FATESFireNoDataMod.F90
  src/biogeochem/SatellitePhenologyMod.F90
  src/cpl/lilac/lnd_shr_methods.F90
  src/cpl/nuopc/lnd_comp_nuopc.F90
  src/cpl/nuopc/lnd_comp_shr.F90
  src/cpl/share_esmf/ExcessIceStreamType.F90
  src/cpl/share_esmf/FireDataBaseType.F90
  src/cpl/share_esmf/PrigentRoughnessStreamType.F90
  src/cpl/share_esmf/SoilMoistureStreamMod.F90
  src/cpl/share_esmf/UrbanTimeVarType.F90
  src/cpl/share_esmf/ZenderSoilErodStreamType.F90
  src/cpl/share_esmf/ch4FInundatedStreamType.F90
  src/cpl/share_esmf/cropcalStreamMod.F90
  src/cpl/share_esmf/laiStreamMod.F90
  src/cpl/share_esmf/lnd_set_decomp_and_domain.F90
  src/cpl/share_esmf/ndepStreamMod.F90
  src/main/clm_varctl.F90
  src/main/controlMod.F90
  src/main/ncdio_pio.F90.in
  src/unit_test_stubs/share_esmf/ExcessIceStreamType.F90
  src/unit_test_stubs/share_esmf/PrigentRoughnessStreamType.F90
  src/unit_test_stubs/share_esmf/ZenderSoilErodStreamType.F90
  src/utils/clmfates_paraminterfaceMod.F90
Labels: code health, bug, bfb

#3024 b4b-dev: Python scripts: Require user to specify lon format when ambiguous
  .git-blame-ignore-revs
  doc/source/users_guide/running-single-points/index.rst
  doc/source/users_guide/running-single-points/running-single-point-subset-data.rst
  python/ctsm/args_utils.py
  python/ctsm/config_utils.py
  python/ctsm/crop_calendars/cropcal_utils.py
  python/ctsm/crop_calendars/process_ggcmi_shdates.py
  python/ctsm/longitude.py
  python/ctsm/modify_input_files/fsurdat_modifier.py
  python/ctsm/modify_input_files/mesh_mask_modifier.py
  python/ctsm/modify_input_files/modify_fsurdat.py
  python/ctsm/modify_input_files/modify_mesh_mask.py
  python/ctsm/site_and_regional/regional_case.py
  python/ctsm/subset_data.py
  python/ctsm/test/test_sys_mesh_modifier.py
  python/ctsm/test/test_unit_args_utils.py
  python/ctsm/test/test_unit_config_utils.py
  python/ctsm/test/test_unit_fsurdat_modifier.py
  python/ctsm/test/test_unit_longitude.py
  python/ctsm/test/test_unit_modify_fsurdat.py
  python/ctsm/test/test_unit_subset_data.py
  python/ctsm/test/test_unit_utils.py
  python/ctsm/test/testinputs/modify_fsurdat_1x1mexicocity.cfg
  python/ctsm/test/testinputs/modify_fsurdat_opt_sections.cfg
  python/ctsm/test/testinputs/modify_fsurdat_short.cfg
  python/ctsm/test/testinputs/modify_fsurdat_short_nofiles.cfg
  tools/mksurfdata_esmf/modify_1x1_mexicocityMEX.cfg
  tools/mksurfdata_esmf/modify_1x1_vancouverCAN.cfg
  tools/modify_input_files/modify_fsurdat_template.cfg
  tools/modify_input_files/modify_mesh_template.cfg
Labels: documentation, bug, bfb, test: python, test: docs

#3017 Avoid repeated ESMF initialization in unittestTimeManagerMod.F90
  doc/design/pfunit_testing.rst
  src/biogeochem/test/CNPhenology_test/CMakeLists.txt
  src/biogeochem/test/CNVegComputeSeed_test/CMakeLists.txt
  src/biogeochem/test/DustEmis_test/CMakeLists.txt
  src/biogeochem/test/Latbaset_test/CMakeLists.txt
  src/biogeophys/test/Balance_test/CMakeLists.txt
  src/biogeophys/test/Daylength_test/CMakeLists.txt
  src/biogeophys/test/HillslopeHydrology_test/CMakeLists.txt
  src/biogeophys/test/Irrigation_test/CMakeLists.txt
  src/biogeophys/test/Photosynthesis_test/CMakeLists.txt
  src/biogeophys/test/SnowHydrology_test/CMakeLists.txt
  src/biogeophys/test/TotalWaterAndHeat_test/CMakeLists.txt
  src/biogeophys/test/WaterTracerContainerType_test/CMakeLists.txt
  src/biogeophys/test/WaterTracerUtils_test/CMakeLists.txt
  src/biogeophys/test/WaterType_test/CMakeLists.txt
  src/biogeophys/test/Wateratm2lnd_test/CMakeLists.txt
  src/dyn_subgrid/test/dynConsBiogeophys_test/CMakeLists.txt
  src/dyn_subgrid/test/dynInitColumns_test/CMakeLists.txt
  src/dyn_subgrid/test/dynTimeInfo_test/CMakeLists.txt
  src/dyn_subgrid/test/dynTimeInfo_test/test_dynTimeInfo.pf
  src/dyn_subgrid/test/dynVar_test/CMakeLists.txt
  src/main/test/accumul_test/CMakeLists.txt
  src/main/test/atm2lnd_test/CMakeLists.txt
  src/main/test/initVertical_test/CMakeLists.txt
  src/self_tests/test/assertions_test/CMakeLists.txt
  src/soilbiogeochem/test/tillage_test/CMakeLists.txt
  src/unit_test_shr/CMakeLists.txt
  src/unit_test_shr/unittestInitializeAndFinalize.F90
  src/unit_test_shr/unittestSubgridMod.F90
  src/unit_test_shr/unittestTimeManagerMod.F90
  src/utils/clm_time_manager.F90
  src/utils/test/annual_flux_dribbler_test/CMakeLists.txt
  src/utils/test/array_utils_test/CMakeLists.txt
  src/utils/test/clm_time_manager_test/CMakeLists.txt
  src/utils/test/clm_time_manager_test/test_clm_time_manager.pf
  src/utils/test/numerics_test/CMakeLists.txt
Labels: bug, testing, bfb, devops, test: PFUNIT

#2964 Add GitHub workflows to check black, pylint, git-fleximod
  .github/workflows/black.yml
  .github/workflows/fleximod_test.yaml
  .github/workflows/formatting_python.yml
  .gitmodules
  py_env_create
  python/conda_env_ctsm_py.txt
  python/conda_env_ctsm_py.yml
  python/conda_env_ctsm_py_old_3.7.9.txt
  python/conda_env_ctsm_py_old_3.7.9.yml
Labels: enhancement, testing, test: none, blocker, bfb, devops

#3067 fix some st_archive issues with rpointer files
  cime_config/config_archive.xml
Labels: bug, blocked: dependency, bfb, PR status: needs testing

#3092 Merge master (ctsm5.3.041) into b4b-dev 2025-04-24
  doc/ChangeLog
  doc/ChangeSum
Labels: bfb

#3089 Correct urban Mesh file
  tools/mksurfdata_esmf/gen_mksurfdata_namelist.xml
Labels: bug
